NET "portSum" LOC = P50 | IOSTANDARD = LVTTL;
NET "portCout" LOC = P51 | IOSTANDARD = LVTTL;
NET "portA" LOC = P58 | IOSTANDARD = LVTTL;
NET "portB" LOC = P57 | IOSTANDARD = LVTTL;
NET "portCin" LOC = P66 | IOSTANDARD = LVTTL;